#inputStation {
	border: 0;
	border-bottom: 3px dashed grey;
	border-radius: 0;
	box-shadow: none;
	font-size: 2rem;
	text-align: center;
}

table.centered tr th {
	text-align: center;
}

table.centered tr td {
	text-align: center;
}

.success {
	color: green;
	font-weight: bold;
}
